* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
span {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container1 {
  display: grid;
  grid-template-columns: auto 180px 180px 180px 180px 180px 180px 180px 180px auto;
  grid-template-rows: 40px 50px 138.46154px 25px 13px 241px 180px 25px 155px 180px 180px 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  background-color: #1a1a1a;
  color: #ffffff;
}

.s1aisle {
  border-left: 0.5px solid rgba(255, 255, 255, 0.08);
}

.s1aisle-s1aisle91 {
  grid-row: 1 / 13;
  grid-column: 1 / 2;
}

.s1aisle-s1aisle92 {
  grid-row: 1 / 13;
  grid-column: 10 / 11;
}

.s1aisle-circle {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.s1aisle-letter {
  color: #1a1a1a;
  text-align: center;
  font-size: 20px;
  line-height: 2rem;
}

.s1aisle-navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.s1aisle-menu {
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.8;
  height: 100%;
}

.s1aisle-burger {
  display: none;
}

.s1aisle-s1aisle26 {
  border-left: 1px solid white;
}

.s1aisle-uptheme {
  height: 100%;
  /*  width: 200%;*/
  padding-left: 20px;
  position: absolute;
}

.s1aisle-uptext {
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #ffffff;
  opacity: 0.5;
  text-transform: uppercase;
  height: 100%;
}

.s1aisle-heading {
  font-weight: 600;
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -1px;
  position: absolute;
  /*  width: 110%;*/
  height: 110%;
  max-width: 800px;
  max-height: 360px;
}

.s1aisle-s1aisle55 {
  padding: 30px;
  background: #febe02;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s1aisle-arrowjoin {
  max-width: 17px;
}

.s1aisle-join {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #1a1a1a;
  overflow: hidden;
}

.s1aisle-s1aisle58 {
  grid-row: 8 / 11;
  grid-column: 3 / 5;
  overflow: hidden;
}

.s1aisle-imageboxL {
  width: 360px;
  height: 360px;
  overflow: hidden;
}

.s1aisle-avatarL {
  max-width: 100%;
  max-height: 100%;
}

.s1aisle-s1aisle60 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid white;
  padding-left: 20px;
}

.s1aisle-about {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.66667px;
}

.s1aisle-s1aisle66 {
  min-width: 290px;
  padding-left: 20px;
  padding-top: 10px;
}

.s1aisle-textabout {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px/3;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.s1aisle-s1aisle63 {
  grid-row: 8 / 10;
  grid-column: 9 / 10;
  background-color: #979797;
  opacity: 0.12;
}

.s1aisle-imageboxS {
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.s1aisle-avatarS {
  max-width: 100%;
  max-height: 100%;
}

.s1aisle-s1aisle72 {
  grid-row: 10 / 11;
  grid-column: 7 / 9;
  background-color: #242424;
  overflow: hidden;
}

.s1aisle-imageboxW {
  width: 360px;
  height: 180px;
  padding: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1aisle-audio {
  max-width: 289px;
  max-height: 68px;
}

.s1aisle-play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -48px;
  width: 48px;
  height: 48px;
}

.s1aisle-play__blue {
  background-color: #1c68f0;
  left: 312px;
}

.s1aisle-play__white {
  background-color: #ffffff;
  left: 132px;
}

.s1aisle-playbtn {
  width: 9px;
  height: 12px;
}

.s1aisle-textmain {
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.s1aisle-textsec {
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.s1aisle-s1aisle77 {
  overflow: hidden;
}

.ornament {
  position: absolute;
}

.container2 {
  display: grid;
  grid-template-columns: auto 180px 180px 180px 180px 180px 180px 180px 180px auto;
  grid-template-rows: 120px 200px 109.8px 180px 180px 48.6px 111.6px 19.8px 48.6px 109.8px 64.8px 180px 180px 48.6px 109.8px 23.4px 48.6px 109.8px 64.8px 120px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  background-color: #ffffff;
  color: #1a1a1a;
}

.s2aisle {
  border-left: 0.5px solid #dedede;
}

.s2aisle-s2aisle1 {
  grid-row: 1 / 21;
  grid-column: 1 / 2;
}

.s2aisle-s2aisle2 {
  grid-row: 1 / 21;
  grid-column: 10 / 11;
}

.s2aisle-heading {
  font-weight: 600;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: -0.818182px;
  position: absolute;
  /*  width: 110%;*/
  height: 110%;
  max-width: 800px;
  max-height: 360px;
}

.s2aisle-s2aisle28 {
  grid-row: 4 / 6;
  grid-column: 3 / 6;
  overflow: hidden;
}

.s2aisle-imageboxL {
  width: 360px;
  height: 360px;
  overflow: hidden;
}

.s2aisle-pictureL {
  max-width: 100%;
  max-height: 100%;
}

.s2aisle-imageboxLW {
  width: 540px;
  height: 360px;
  overflow: hidden;
}

.s2aisle-pictureLW {
  max-width: 100%;
  height: 100%;
}

.s2aisle-s2aisle35 {
  grid-row: 5 / 9;
  grid-column: 7 / 9;
  overflow: hidden;
}

.s2aisle-theme {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.3;
}

.s2aisle-naming {
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.3px;
  height: 131.4px;
  position: absolute;
}

.s2aisle-naming__large {
  width: 540px;
}

.s2aisle-naming__regular {
  width: 360px;
  text-transform: capitalize;
}

.s2aisle-description {
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
  opacity: 0.6;
  height: 131.4px;
  position: absolute;
}

.s2aisle-description__large {
  width: 540px;
}

.s2aisle-description__regular {
  width: 360px;
}

.s2aisle-s2aisle80 {
  grid-row: 12 / 14;
  grid-column: 3 / 5;
  overflow: hidden;
}

.s2aisle-s2aisle88 {
  grid-row: 13 / 17;
  grid-column: 6 / 9;
  overflow: hidden;
}

.addinfo {
  padding-left: 20px;
  padding-bottom: 20px;
  width: 144px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -44px;
}

.addinfo-time {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #111111;
  width: 60px;
  height: 24px;
  border-radius: 5px;
}

.addinfo-time__count {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.458333px;
}

.addinfo-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111111;
  color: #ffffff;
  width: 56px;
  height: 24px;
  border-radius: 5px;
}

.addinfo-rating__count {
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.458333px;
  max-width: 19px;
}

.addinfo-rating__star {
  width: 12px;
  height: 12px;
}

.container3 {
  display: grid;
  grid-template-columns: auto 180px 180px 180px 180px 180px 180px 180px 180px auto;
  grid-template-rows: 145.8px 199.8px 104.4px 79.2px 23.4px 50.4px 79.2px 23.4px 50.4px 79.2px 23.4px 50.4px 79.2px 23.4px 149.4px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  background-color: #f5f6f8;
  color: #000000;
}

.s3aisle {
  border-left: 0.5px solid #dedede;
}

.s3aisle-s3aisle1 {
  grid-row: 1 / 16;
  grid-column: 1 / 2;
}

.s3aisle-s3aisle2 {
  grid-row: 1 / 16;
  grid-column: 10 / 11;
}

.s3aisle-s3aisle12 {
  color: #1a1a1a;
}

.s3aisle-heading {
  font-weight: 600;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: -0.818182px;
}

.s3aisle-s3aisle28,
.s3aisle-s3aisle52,
.s3aisle-s3aisle76,
.s3aisle-s3aisle100 {
  display: flex;
  align-items: center;
}

.s3aisle-s3aisle33,
.s3aisle-s3aisle57,
.s3aisle-s3aisle81,
.s3aisle-s3aisle105 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.s3aisle-number {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
  opacity: 0.34;
}

.s3aisle-course {
  font-weight: normal;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.833333px;
  position: absolute;
}

.s3aisle-coursesub {
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.s3aisle-arrow {
  width: 25px;
  height: 20px;
}

.s3aisle-s3aisle44,
.s3aisle-s3aisle45,
.s3aisle-s3aisle46,
.s3aisle-s3aisle47,
.s3aisle-s3aisle48,
.s3aisle-s3aisle49,
.s3aisle-s3aisle68,
.s3aisle-s3aisle69,
.s3aisle-s3aisle70,
.s3aisle-s3aisle71,
.s3aisle-s3aisle72,
.s3aisle-s3aisle73,
.s3aisle-s3aisle92,
.s3aisle-s3aisle93,
.s3aisle-s3aisle94,
.s3aisle-s3aisle95,
.s3aisle-s3aisle96,
.s3aisle-s3aisle97 {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}

@media (max-width: 1439px) {
  .container1 {
    grid-template-columns: auto 140px 140px 140px 140px 140px 140px 140px 140px auto;
    grid-template-rows: 31.11111px 38.88889px 107.69231px 19.44444px 13px 201px 140px 25px 115px 140px 140px 140px;
  }
  .container2 {
    grid-template-columns: auto 140px 140px 140px 140px 140px 140px 140px 140px auto;
    grid-template-rows: 93.33333px 155.55556px 85.4px 140px 140px 37.8px 86.8px 15.4px 37.8px 85.4px 50.4px 140px 140px 37.8px 85.4px 18.2px 37.8px 85.4px 50.4px 93.33333px;
  }
  .container3 {
    grid-template-columns: auto 140px 140px 140px 140px 140px 140px 140px 140px auto;
    grid-template-rows: 113.4px 155.4px 81.2px 61.6px 18.2px 39.2px 61.6px 18.2px 39.2px 61.6px 18.2px 39.2px 61.6px 18.2px 116.2px;
  }
  .s1aisle-uptext {
    line-height: 20px;
  }
  .s1aisle-s1aisle55 {
    padding: 20px;
  }
  .s1aisle-join {
    font-size: 20px;
    line-height: 20px;
  }
  .s1aisle-imageboxL {
    width: 280px;
    height: 280px;
  }
  .s1aisle-imageboxS {
    width: 140px;
    height: 140px;
  }
  .s1aisle-imageboxW {
    width: 280px;
    height: 140px;
  }
  .s1aisle-play {
    top: -28px;
    width: 28px;
    height: 28px;
  }
  .s1aisle-play__blue {
    left: 252px;
  }
  .s1aisle-play__white {
    left: 112px;
  }
  .s1aisle-textmain {
    font-size: 16px;
  }
  .s1aisle-textsec {
    font-size: 10px;
    letter-spacing: 0.5px;
  }
  .s1aisle-heading {
    font-size: 90px;
    line-height: 90px;
  }
  .s2aisle-heading {
    font-size: 80px;
    line-height: 100px;
  }
  .s2aisle-imageboxL {
    width: 280px;
    height: 280px;
  }
  .s2aisle-imageboxLW {
    width: 420px;
    height: 280px;
  }
  .s2aisle-theme {
    padding-top: 12px;
    padding-bottom: 2px;
    line-height: 23px;
  }
  .s2aisle-naming {
    font-size: 28px;
    line-height: 40px;
    height: 102.2px;
  }
  .s2aisle-naming__large {
    width: 420px;
  }
  .s2aisle-naming__regular {
    width: 280px;
  }
  .s2aisle-description {
    margin-top: 10px;
    height: 102.2px;
    font-size: 14px;
    line-height: 26px;
  }
  .s2aisle-description__large {
    width: 420px;
  }
  .s2aisle-description__regular {
    width: 280px;
  }
  .s3aisle-heading {
    font-size: 75px;
    line-height: 90px;
  }
  .s3aisle-number {
    font-size: 20px;
    line-height: 28px;
  }
  .s3aisle-course {
    font-size: 40px;
    line-height: 56px;
  }
  .s3aisle-coursesub {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 1199px) {
  .container1 {
    grid-template-columns: auto 120px 120px 120px 120px 120px 120px 120px 120px auto;
    grid-template-rows: 26.66667px 33.33333px 92.30769px 16.66667px 13px 201px 120px 25px 95px 120px 120px 120px;
  }
  .container2 {
    grid-template-columns: auto 120px 120px 120px 120px 120px 120px 120px 120px auto;
    grid-template-rows: 80px 133.33333px 73.2px 120px 120px 32.4px 74.4px 13.2px 32.4px 73.2px 43.2px 120px 120px 32.4px 73.2px 15.6px 32.4px 73.2px 43.2px 80px;
  }
  .container3 {
    grid-template-columns: auto 120px 120px 120px 120px 120px 120px 120px 120px auto;
    grid-template-rows: 97.2px 133.2px 69.6px 52.8px 19.2px 33.6px 52.8px 19.2px 33.6px 52.8px 19.2px 33.6px 52.8px 19.2px 99.6px;
  }
  .s1aisle-s1aisle55 {
    padding: 20px;
  }
  .s1aisle-join {
    font-size: 16px;
    line-height: 20px;
  }
  .s1aisle-uptext {
    line-height: 16px;
  }
  .s1aisle-s1aisle66 {
    min-width: 250px;
    padding-top: 5px;
  }
  .s1aisle-textabout {
    font-size: 12px;
    line-height: 20px;
  }
  .s1aisle-imageboxL {
    width: 240px;
    height: 240px;
  }
  .s1aisle-imageboxS {
    width: 120px;
    height: 120px;
  }
  .s1aisle-imageboxW {
    width: 240px;
    height: 120px;
  }
  .s1aisle-play__blue {
    left: 212px;
  }
  .s1aisle-play__white {
    left: 92px;
  }
  .s1aisle-textmain {
    font-size: 14px;
  }
  .s2aisle-heading {
    font-size: 80px;
    line-height: 100px;
  }
  .s2aisle-imageboxL {
    width: 240px;
    height: 240px;
  }
  .s2aisle-imageboxLW {
    width: 360px;
    height: 240px;
  }
  .s2aisle-theme {
    padding-top: 8px;
    padding-bottom: 2px;
    line-height: 23px;
  }
  .s2aisle-naming {
    font-size: 28px;
    line-height: 40px;
    height: 87.6px;
  }
  .s2aisle-naming__large {
    width: 360px;
  }
  .s2aisle-naming__regular {
    width: 240px;
  }
  .s2aisle-description {
    margin-top: 10px;
    height: 87.6px;
    font-size: 11px;
    line-height: 26px;
  }
  .s2aisle-description__large {
    width: 360px;
  }
  .s2aisle-description__regular {
    width: 240px;
  }
  .s3aisle-heading {
    font-size: 75px;
    line-height: 70px;
  }
  .s3aisle-number {
    font-size: 20px;
    line-height: 28px;
  }
  .s3aisle-course {
    font-size: 40px;
    line-height: 56px;
  }
  .s3aisle-coursesub {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 991px) {
  .container1 {
    grid-template-columns: auto 95px 95px 95px 95px 95px 95px 95px 95px auto;
    grid-template-rows: 21.11111px 26.38889px 73.07692px 13.19444px 13px 201px 95px 20px 70px 95px 95px 95px;
  }
  .container2 {
    grid-template-columns: auto 95px 95px 95px 95px 95px 95px 95px 95px auto;
    grid-template-rows: 63.33333px 105.55556px 57.95px 95px 95px 25.65px 58.9px 10.45px 25.65px 57.95px 34.2px 95px 95px 25.65px 57.95px 12.35px 25.65px 57.95px 34.2px 63.33333px;
  }
  .container3 {
    grid-template-columns: auto 95px 95px 95px 95px 95px 95px 95px 95px auto;
    grid-template-rows: 76.95px 105.45px 55.1px 41.8px 19px 26.6px 41.8px 19px 26.6px 41.8px 19px 26.6px 41.8px 19px 78.85px;
  }
  .s1aisle-circle {
    width: 30px;
    height: 30px;
  }
  .s1aisle-letter {
    font-size: 15px;
    line-height: 0.7rem;
  }
  .s1aisle-menu {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .s1aisle-uptext {
    font-size: 10px;
    line-height: 13px;
  }
  .s1aisle-heading {
    font-size: 80px;
    line-height: 90px;
    max-width: 800px;
    max-height: 360px;
  }
  .s1aisle-s1aisle55 {
    padding: 10px;
  }
  .s1aisle-join {
    font-size: 14px;
    line-height: 18px;
  }
  .s1aisle-s1aisle60 {
    padding-left: 10px;
  }
  .s1aisle-about {
    font-size: 12px;
    line-height: 20px;
  }
  .s1aisle-s1aisle66 {
    min-width: 200px;
    padding-left: 10px;
  }
  .s1aisle-textabout {
    font-size: 10px;
    line-height: 15px;
  }
  .s1aisle-imageboxL {
    width: 190px;
    height: 190px;
  }
  .s1aisle-imageboxS {
    width: 95px;
    height: 95px;
  }
  .s1aisle-imageboxW {
    width: 190px;
    height: 95px;
  }
  .s1aisle-play {
    top: -14px;
    width: 14px;
    height: 14px;
  }
  .s1aisle-play__blue {
    left: 176px;
  }
  .s1aisle-play__white {
    left: 81px;
  }
  .s1aisle-playbtn {
    width: 5px;
    height: 6px;
  }
  .s1aisle-textmain {
    margin-top: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  .s1aisle-textsec {
    font-weight: 400;
    font-size: 10px;
  }
  .s2aisle-heading {
    font-size: 60px;
    line-height: 65px;
    max-width: 500px;
  }
  .s2aisle-imageboxL {
    width: 190px;
    height: 190px;
  }
  .s2aisle-imageboxLW {
    width: 285px;
    height: 190px;
  }
  .s2aisle-theme {
    padding-top: 2px;
    padding-bottom: 0;
    font-size: 10px;
    line-height: 23px;
  }
  .s2aisle-naming {
    font-size: 21px;
    line-height: 30px;
    height: 69.35px;
  }
  .s2aisle-naming__large {
    width: 285px;
  }
  .s2aisle-naming__regular {
    width: 190px;
  }
  .s2aisle-description {
    margin-top: 10px;
    height: 69.35px;
    font-size: 10px;
    line-height: 20px;
  }
  .s2aisle-description__large {
    width: 285px;
  }
  .s2aisle-description__regular {
    width: 190px;
  }
  .addinfo {
    padding-left: 5px;
    padding-bottom: 5px;
    width: 109px;
    height: 23px;
    top: -23px;
  }
  .addinfo-time {
    width: 50px;
    height: 18px;
    border-radius: 5px;
  }
  .addinfo-time__count {
    font-weight: 400;
    font-size: 9px;
    line-height: 18px;
  }
  .addinfo-rating {
    width: 46px;
    height: 18px;
    border-radius: 5px;
  }
  .addinfo-rating__count {
    font-weight: 500;
    font-size: 9px;
    line-height: 20px;
    max-width: 19px;
  }
  .addinfo-rating__star {
    width: 10px;
    height: 10px;
  }
  .s3aisle-number {
    font-size: 20px;
    line-height: 28px;
  }
  .s3aisle-course {
    font-size: 30px;
    line-height: 42px;
  }
  .s3aisle-coursesub {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 766px) {
  .container1 {
    grid-template-columns: auto 0px 95px 95px 95px 95px 95px 95px 0px auto;
  }
  .container2 {
    grid-template-columns: auto 0px 95px 95px 95px 95px 95px 95px 0px auto;
  }
  .container3 {
    grid-template-columns: auto 0px 95px 95px 95px 95px 95px 95px 0px auto;
  }
  .s1aisle-s1aisle1,
  .s1aisle-s1aisle9,
  .s1aisle-s1aisle17,
  .s1aisle-s1aisle25,
  .s1aisle-s1aisle33,
  .s1aisle-s1aisle41,
  .s1aisle-s1aisle49,
  .s1aisle-s1aisle57,
  .s1aisle-s1aisle64,
  .s1aisle-s1aisle69,
  .s1aisle-s1aisle74,
  .s1aisle-s1aisle82,
  .s1aisle-s1aisle92 {
    border: 0px;
  }
  .s2aisle-s2aisle3,
  .s2aisle-s2aisle11,
  .s2aisle-s2aisle19,
  .s2aisle-s2aisle27,
  .s2aisle-s2aisle33,
  .s2aisle-s2aisle37,
  .s2aisle-s2aisle43,
  .s2aisle-s2aisle49,
  .s2aisle-s2aisle55,
  .s2aisle-s2aisle63,
  .s2aisle-s2aisle71,
  .s2aisle-s2aisle79,
  .s2aisle-s2aisle86,
  .s2aisle-s2aisle90,
  .s2aisle-s2aisle95,
  .s2aisle-s2aisle100,
  .s2aisle-s2aisle105,
  .s2aisle-s2aisle113,
  .s2aisle-s2aisle121,
  .s2aisle-s2aisle129,
  .s2aisle-s2aisle2 {
    border: none;
  }
  .s3aisle-s3aisle3,
  .s3aisle-s3aisle11,
  .s3aisle-s3aisle19,
  .s3aisle-s3aisle27,
  .s3aisle-s3aisle35,
  .s3aisle-s3aisle43,
  .s3aisle-s3aisle51,
  .s3aisle-s3aisle59,
  .s3aisle-s3aisle67,
  .s3aisle-s3aisle75,
  .s3aisle-s3aisle83,
  .s3aisle-s3aisle91,
  .s3aisle-s3aisle99,
  .s3aisle-s3aisle107,
  .s3aisle-s3aisle115,
  .s3aisle-s3aisle2 {
    border: none;
  }
}

@media (max-width: 575px) {
  .container1 {
    grid-template-columns: auto 0px 75px 75px 75px 75px 0px 0px 0px auto;
    grid-template-rows: 16.66667px 20.83333px 25px 10.41667px 10.41667px 93.75px 75px 75px 75px 20px 55px 75px 75px 56.25px;
  }
  .container2 {
    grid-template-columns: auto 0px 75px 75px 75px 75px 0px 0px 0px auto;
    grid-template-rows: 56.25px 67.5px 45.75px 75px 75px 75px 26.25px 22.5px 67.5px 75px 75px 75px 26.25px 22.5px 67.5px 75px 75px 75px 26.25px 22.5px 67.5px 75px 75px 75px 26.25px 22.5px 67.5px 33.75px;
  }
  .container3 {
    grid-template-columns: auto 0px 75px 75px 75px 75px 0px 0px 0px auto;
    grid-template-rows: 56.25px 83.25px 21px 26.25px 18.75px 6px 26.25px 18.75px 6px 26.25px 18.75px 6px 26.25px 18.75px 56.25px;
  }
  .s1aisle-s1aisle7,
  .s1aisle-s1aisle8,
  .s1aisle-s1aisle15,
  .s1aisle-s1aisle16,
  .s1aisle-s1aisle23,
  .s1aisle-s1aisle24,
  .s1aisle-s1aisle31,
  .s1aisle-s1aisle32,
  .s1aisle-s1aisle39,
  .s1aisle-s1aisle40,
  .s1aisle-s1aisle47,
  .s1aisle-s1aisle48,
  .s1aisle-s1aisle53,
  .s1aisle-s1aisle54,
  .s1aisle-s1aisle56,
  .s1aisle-s1aisle62,
  .s1aisle-s1aisle63,
  .s1aisle-s1aisle68,
  .s1aisle-s1aisle69,
  .s1aisle-s1aisle80,
  .s1aisle-s1aisle81,
  .s1aisle-s1aisle88,
  .s1aisle-s1aisle89,
  .s1aisle-s1aisle65,
  .s1aisle-s1aisle70,
  .s1aisle-s1aisle90,
  .s1aisle-s1aisle99,
  .s1aisle-s1aisle96,
  .s1aisle-s1aisle97,
  .s1aisle-s1aisle102,
  .s1aisle-s1aisle103,
  .s1aisle-s1aisle104,
  .s1aisle-s1aisle106 {
    border: none;
  }
  .s1aisle-s1aisle57,
  .s1aisle-s1aisle74,
  .s1aisle-s1aisle63 {
    border-left: 0.5px solid rgba(255, 255, 255, 0.08);
  }
  .s1aisle-s1aisle55 {
    grid-row: 7 / 8;
    grid-column: 6 / 7;
  }
  .s1aisle-navbar {
    display: none;
  }
  .s1aisle-burger {
    display: flex;
    justify-content: end;
    font-size: 0.8em;
  }
  .s1aisle-heading {
    font-size: 40px;
    line-height: 45px;
    max-width: 90%;
    max-height: 180px;
  }
  .s1aisle-join {
    font-size: 10px;
    line-height: 14px;
  }
  .s1aisle-s1aisle77 {
    grid-row: 8 / 9;
    grid-column: 3 / 4;
  }
  .s1aisle-s1aisle85 {
    grid-row: 9 / 10;
    grid-column: 3 / 4;
  }
  .s1aisle-s1aisle58 {
    grid-row: 12 / 14;
    grid-column: 4 / 6;
  }
  .s1aisle-s1aisle75 {
    grid-row: 13 / 14;
    grid-column: 6 / 7;
  }
  .s1aisle-s1aisle60 {
    grid-row: 10 / 11;
    grid-column: 3 / 4;
  }
  .s1aisle-s1aisle66 {
    grid-row: 11 / 12;
    grid-column: 3 / 4;
  }
  .s1aisle-s1aisle63 {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
  }
  .s1aisle-s1aisle71 {
    grid-row: 8 / 9;
    grid-column: 5 / 6;
  }
  .s1aisle-s1aisle72 {
    grid-row: 9 / 10;
    grid-column: 4 / 6;
  }
  .s1aisle-s1aisle79 {
    grid-row: 9 / 10;
    grid-column: 6 / 7;
  }
  .s1aisle-s1aisle76,
  .s1aisle-s1aisle86 {
    background-color: #979797;
    opacity: 0.12;
  }
  .s1aisle-imageboxL {
    width: 150px;
    height: 150px;
  }
  .s1aisle-imageboxS {
    width: 75px;
    height: 75px;
  }
  .s1aisle-imageboxW {
    width: 150px;
    height: 75px;
  }
  .s1aisle-play__blue {
    left: 137px;
  }
  .s1aisle-play__white {
    left: 62px;
  }
  .s1aisle-about {
    font-size: 10px;
    line-height: 20px;
  }
  .s1aisle-textabout {
    font-size: 10px;
    line-height: 14px;
  }
  .s1aisle-s1aisle75,
  .s1aisle-s1aisle79 {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .s1aisle-s1aisle79 {
    padding-bottom: 10px;
  }
  .s1aisle-textmain {
    font-size: 10px;
    line-height: 15px;
  }
  .s1aisle-textsec {
    margin-top: 5px;
    font-size: 8px;
  }
  .s2aisle-s2aisle3,
  .s2aisle-s2aisle11,
  .s2aisle-s2aisle19,
  .s2aisle-s2aisle27,
  .s2aisle-s2aisle33,
  .s2aisle-s2aisle37,
  .s2aisle-s2aisle43,
  .s2aisle-s2aisle49,
  .s2aisle-s2aisle55,
  .s2aisle-s2aisle63,
  .s2aisle-s2aisle71,
  .s2aisle-s2aisle79,
  .s2aisle-s2aisle86,
  .s2aisle-s2aisle90,
  .s2aisle-s2aisle95,
  .s2aisle-s2aisle100,
  .s2aisle-s2aisle105,
  .s2aisle-s2aisle113,
  .s2aisle-s2aisle121,
  .s2aisle-s2aisle129 {
    border-left: 0.5px solid #dedede;
  }
  .s2aisle-s2aisle3,
  .s2aisle-s2aisle11,
  .s2aisle-s2aisle19,
  .s2aisle-s2aisle27,
  .s2aisle-s2aisle32,
  .s2aisle-s2aisle,
  .s2aisle-s2aisle37,
  .s2aisle-s2aisle42,
  .s2aisle-s2aisle51,
  .s2aisle-s2aisle58,
  .s2aisle-s2aisle66,
  .s2aisle-s2aisle72,
  .s2aisle-s2aisle78,
  .s2aisle-s2aisle84,
  .s2aisle-s2aisle93,
  .s2aisle-s2aisle102,
  .s2aisle-s2aisle110,
  .s2aisle-s2aisle115,
  .s2aisle-s2aisle121,
  .s2aisle-s2aisle127,
  .s2aisle-s2aisle134,
  .s2aisle-s2aisle136,
  .s2aisle-s2aisle142,
  .s2aisle-s2aisle151,
  .s2aisle-s2aisle157,
  .s2aisle-s2aisle163,
  .s2aisle-s2aisle169,
  .s2aisle-s2aisle178,
  .s2aisle-s2aisle187,
  .s2aisle-s2aisle196,
  .s2aisle-s2aisle9,
  .s2aisle-s2aisle10,
  .s2aisle-s2aisle17,
  .s2aisle-s2aisle18,
  .s2aisle-s2aisle25,
  .s2aisle-s2aisle26,
  .s2aisle-s2aisle30,
  .s2aisle-s2aisle31,
  .s2aisle-s2aisle34,
  .s2aisle-s2aisle35,
  .s2aisle-s2aisle40,
  .s2aisle-s2aisle41,
  .s2aisle-s2aisle48,
  .s2aisle-s2aisle49,
  .s2aisle-s2aisle56,
  .s2aisle-s2aisle57,
  .s2aisle-s2aisle64,
  .s2aisle-s2aisle65,
  .s2aisle-s2aisle70,
  .s2aisle-s2aisle71,
  .s2aisle-s2aisle75,
  .s2aisle-s2aisle77,
  .s2aisle-s2aisle82,
  .s2aisle-s2aisle83,
  .s2aisle-s2aisle90,
  .s2aisle-s2aisle92,
  .s2aisle-s2aisle99,
  .s2aisle-s2aisle100,
  .s2aisle-s2aisle107,
  .s2aisle-s2aisle108,
  .s2aisle-s2aisle113,
  .s2aisle-s2aisle114,
  .s2aisle-s2aisle119,
  .s2aisle-s2aisle120,
  .s2aisle-s2aisle124,
  .s2aisle-s2aisle126,
  .s2aisle-s2aisle132,
  .s2aisle-s2aisle133,
  .s2aisle-s2aisle139,
  .s2aisle-s2aisle140,
  .s2aisle-s2aisle147,
  .s2aisle-s2aisle148,
  .s2aisle-s2aisle149,
  .s2aisle-s2aisle153,
  .s2aisle-s2aisle154,
  .s2aisle-s2aisle155,
  .s2aisle-s2aisle159,
  .s2aisle-s2aisle160,
  .s2aisle-s2aisle161,
  .s2aisle-s2aisle165,
  .s2aisle-s2aisle166,
  .s2aisle-s2aisle167,
  .s2aisle-s2aisle174,
  .s2aisle-s2aisle175,
  .s2aisle-s2aisle176,
  .s2aisle-s2aisle183,
  .s2aisle-s2aisle184,
  .s2aisle-s2aisle185,
  .s2aisle-s2aisle192,
  .s2aisle-s2aisle193,
  .s2aisle-s2aisle194 {
    border: none;
  }
  .s2aisle-heading {
    font-size: 35px;
    line-height: 45px;
    max-width: 350px;
  }
  .s2aisle-imageboxL {
    width: 225px;
    height: 225px;
  }
  .s2aisle-imageboxLW {
    width: 300px;
    height: 225px;
  }
  .s2aisle-theme {
    position: absolute;
  }
  .s2aisle-naming {
    font-size: 12px;
    line-height: 20px;
    height: 54.75px;
  }
  .s2aisle-naming__large {
    width: 300px;
  }
  .s2aisle-naming__regular {
    width: 225px;
  }
  .s2aisle-description {
    margin-top: 10px;
    height: 37.5px;
    font-size: 10px;
    line-height: 12px;
  }
  .s2aisle-description__large {
    width: 300px;
  }
  .s2aisle-description__regular {
    width: 225px;
  }
  .s2aisle-s2aisle28 {
    grid-row: 4 / 7;
    grid-column: 3 / 7;
  }
  .s2aisle-s2aisle38 {
    grid-row: 7 / 8;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle44 {
    grid-row: 8 / 9;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle50 {
    grid-row: 9 / 10;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle35 {
    grid-row: 10 / 13;
    grid-column: 4 / 7;
  }
  .s2aisle-s2aisle60 {
    grid-row: 13 / 14;
    grid-column: 4 / 5;
  }
  .s2aisle-s2aisle68 {
    grid-row: 14 / 15;
    grid-column: 4 / 5;
  }
  .s2aisle-s2aisle76 {
    grid-row: 15 / 16;
    grid-column: 4 / 5;
  }
  .s2aisle-s2aisle80 {
    grid-row: 16 / 19;
    grid-column: 3 / 6;
  }
  .s2aisle-s2aisle91 {
    grid-row: 19 / 20;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle96 {
    grid-row: 20 / 21;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle101 {
    grid-row: 21 / 22;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle88 {
    grid-row: 22 / 25;
    grid-column: 3 / 7;
  }
  .s2aisle-s2aisle109 {
    grid-row: 25 / 26;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle117 {
    grid-row: 26 / 27;
    grid-column: 3 / 4;
  }
  .s2aisle-s2aisle125 {
    grid-row: 27 / 28;
    grid-column: 3 / 4;
  }
  .s3aisle-s3aisle9,
  .s3aisle-s3aisle10,
  .s3aisle-s3aisle17,
  .s3aisle-s3aisle18,
  .s3aisle-s3aisle25,
  .s3aisle-s3aisle26,
  .s3aisle-s3aisle32,
  .s3aisle-s3aisle34,
  .s3aisle-s3aisle41,
  .s3aisle-s3aisle42,
  .s3aisle-s3aisle49,
  .s3aisle-s3aisle50,
  .s3aisle-s3aisle56,
  .s3aisle-s3aisle58,
  .s3aisle-s3aisle65,
  .s3aisle-s3aisle66,
  .s3aisle-s3aisle73,
  .s3aisle-s3aisle74,
  .s3aisle-s3aisle80,
  .s3aisle-s3aisle82,
  .s3aisle-s3aisle89,
  .s3aisle-s3aisle90,
  .s3aisle-s3aisle97,
  .s3aisle-s3aisle98,
  .s3aisle-s3aisle104,
  .s3aisle-s3aisle106,
  .s3aisle-s3aisle113,
  .s3aisle-s3aisle114,
  .s3aisle-s3aisle121,
  .s3aisle-s3aisle122 {
    border: none;
  }
  .s3aisle-number {
    font-size: 16px;
    line-height: 24px;
  }
  .s3aisle-course {
    font-size: 20px;
    line-height: 28px;
  }
  .s3aisle-coursesub {
    font-size: 10px;
    line-height: 14px;
  }
  .s3aisle-arrow {
    width: 15px;
    height: 12px;
  }
  .s3aisle-s3aisle33 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
  }
  .s3aisle-s3aisle57 {
    grid-column: 6 / 7;
    grid-row: 7 / 8;
  }
  .s3aisle-s3aisle81 {
    grid-column: 6 / 7;
    grid-row: 10 / 11;
  }
  .s3aisle-s3aisle105 {
    grid-column: 6 / 7;
    grid-row: 13 / 14;
  }
  .s3aisle-s3aisle48,
  .s3aisle-s3aisle72,
  .s3aisle-s3aisle96 {
    border-bottom: 0px;
  }
}
