*
  box-sizing: border-box
  scroll-behavior: smooth
  color: $text-primary
  overflow-x: hidden

body
  background-color: $bg

input, textarea
  outline: none

textarea
  resize: none

//img
//  object-fit: cover
//  width: 100%

button
  cursor: pointer
