$text-primary: #FFFFFF
$text-spec: #1A1A1A
$text-dark: #000000
$bg-section1: #1A1A1A
$bg-section2: #FFFFFF
$bg-section3: #F5F6F8

$yellow: #FEBE02
$play: #1C68F0

$rowW: 180px
$rowH: 180px

$iconsize: 48px
